* {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

form {
    align-content: center;
    width: 400px;
    background-color: #0c5318;
    border-radius: 15px;
    color: white;
}

input {
    border-radius: 10px;
}

p {
    color: white;
}

.desain-layout {
    text-align: center;
}

.box {
    width: 250px;
    border-radius: 10px;
}

button {
    border: none;
    background-color: #495579;
    color: white;
    border-radius: 10px;
}

h6 {
    float: left;
}